<h1> Player 1: <%= @player_1 %> </h1>
<form method="post" action="/attack">
<input id='attack_player_2' type='submit' value='Attack'>
</form>
<h2> HP: <%=@hp_p1%> </h2>

<h1> Player 2: <%= @player_2 %> </h1>
<form method="post" action="/attack">
<input id='attack_player_1' type='submit' value='Attack'>
</form>
<h2> HP: <%=@hp_p2%> </h2>
<br>
<br>
<br>
<%= @battle_log %>
